{% extends 'base.html.twig' %}

{% block title %}Carte du Tchad!{% endblock %}
{% block body %}
    <div class="map" id="map">
    <div class="map__image">
        {% include "tchad_card/map.svg" %}
    </div>
    <div class="map__infos">
        <span id="infosRegion"></span> <br>
        <span id="populationRegion"></span><br>
        <span id="thresholdRegion"></span> <br>
    </div>
    <div>
        <button>
<a href="{{ path("app_education") }}" class="btn btn-primary btn-lg btn-block">Education</a>


        </button>
    </div>
    </div>

{% block javascripts %}
{# <script src=" {{ asset('assets/js/app.js') }} " defer></script> #}


{% endblock %}

{% endblock %}




